@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1272px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 0 40px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

h1 {
  font-size: 38px;
  line-height: 57px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #070f18;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #070f18;
}

form {
  position: relative;
  margin-top: 10px;
}

input {
  background: #f5f6fb;
  padding: 15px 60px 13px 18px;
  width: 299px;
  border-radius: 50px;
  outline: none;
  border: 0;
}

input::placeholder {
  font-size: 14px;
  color: #575455;
}

p {
  color: #575455;
  line-height: 29px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #070f18;
}

li {
  list-style: none;
}

.container {
  margin: 30px 70px 10px 70px;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #070f18;
}

.logo img {
  width: 48px;
  height: 34px;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 10px;
}

.navigation-list {
  display: inline-flex;
  align-items: center;
  column-gap: 60px;
}

.active {
  font-weight: 600;
}

.btn {
  padding: 12px 48px;
  border-radius: 50px;
  background-color: #f5f6fb;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #1f7cff;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.group {
  max-width: 450px;
}

.group .btn {
  background-color: #1f7cff;
  color: white;
}

.relative {
  position: relative;
}

.img {
  width: 430px;
  border-radius: 50px;
}

.absolute {
  position: absolute;
  top: 110px;
  right: 326px;
}

.child-box {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  width: 190px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: #0000000d 0px 4px 6px -1px, #0000000d 0px 2px 4px -1px;
}

.child {
  display: inline-flex;
  column-gap: 12px;
}

.absolute:nth-child(2) {
  top: 45px;
  left: 295px;
}

.rectangle {
  display: inline-flex;
  align-items: end;
  flex-direction: row-reverse;
  column-gap: 8px;
  padding-top: 10px;
}

.rectangle span {
  display: inline-block;
  width: 9px;
  background-color: #eaecf2;
  border-radius: 10px;
}

span:nth-child(1) {
  height: 48px;
  background-color: #1f7cff;
}

span:nth-child(2) {
  height: 38px;
  background-color: #f75c4e;
}

span:nth-child(3) {
  height: 23px;
  background-color: #f75c4e;
}

:is(span:nth-child(4), span:nth-child(10)) {
  height: 27px;
}

span:nth-child(5) {
  height: 38px;
}

span:nth-child(6) {
  height: 20px;
}

:is(span:nth-child(7), span:nth-child(9)) {
  height: 10px;
}

span:nth-child(8) {
  height: 24px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.content p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.image {
  width: 40px;
  height: 40px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.brand-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  max-width: 145px;
}

.brand-list {
  display: inline-flex;
  align-items: center;
  column-gap: 40px;
}

.img-apple {
  width: 88px;
  height: 33px;
}

.img-adobe {
  width: 125.54px;
  height: 26px;
}

.img-slack {
  width: 118.56px;
  height: 27px;
}

.img-spotify {
  width: 100.02px;
  height: 30px;
}

.img-google {
  width: 91.91px;
  height: 30px;
}

.better {
  margin-top: 130px;
  text-align: center;
}

.custom:before {
  content: "WORK BETTER";
  font-size: 16px;
  color: #f75c4e;
  display: block;
}

.better>p {
  margin: 0 auto;
  max-width: 390px;
}

.card-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 73px;
  margin-top: 70px;
}

.card-item {
  text-align: start;
}

.card {
  display: inline-flex;
  align-items: start;
  column-gap: 15px;
}

.card .absolute {
  top: 18px;
  left: 18px;
}

.info {
  max-width: 218px;
}

.info p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
}

.box-productivity {
  display: inline-flex;
  align-items: center;
  column-gap: 70px;
  margin-top: 130px;
}

.boost {
  width: 450px;
  border-radius: 15px;
}

.box-productivity .absolute {
  top: 123px;
  left: 183px;
  width: 55px;
}

.Productivity {
  max-width: 450px;
}

.Productivity .custom:before {
  content: "SAVE MORE TIME";
}

form .btn {
  position: absolute;
  left: 250px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #1f7cff;
}

.link {
  color: #1f7cff;
}
