@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1272px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin: 0 40px;
}

footer {
  margin-top: 20px;
  text-align: center;
}

h1 {
  font-size: 38px;
  line-height: 57px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  font-weight: 700;
  color: #070f18;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: #070f18;
}

form {
  position: relative;
  margin-top: 10px;
}

input {
  background: #f5f6fb;
  padding: 15px 60px 13px 18px;
  width: 299px;
  border-radius: 50px;
  outline: none;
  border: 0;
}

input::placeholder {
  font-size: 14px;
  color: #575455;
}

p {
  color: #575455;
  line-height: 29px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #070f18;
}

li {
  list-style: none;
}

.container {
  margin: 30px 70px 10px 70px;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  color: #070f18;
}

.logo img {
  width: 48px;
  height: 34px;
  border-radius: 10px;
  vertical-align: middle;
  margin-right: 10px;
}

.navigation-list {
  display: inline-flex;
  align-items: center;
  column-gap: 60px;
}

.active {
  font-weight: 600;
}

.btn {
  padding: 12px 48px;
  border-radius: 50px;
  color: #070f18;
  background-color: #f5f6fb;
  border: 0;
  cursor: pointer;
}

.btn:hover {
  color: white;
  background-color: #1f7cff;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
}

.box {
  max-width: 450px;
}

.box .btn {
  background-color: #1f7cff;
  color: white;
}

.hero-img {
  position: relative;
}

.img {
  width: 430px;
  border-radius: 20px;
}

.child {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  position: absolute;
  top: 113px;
  right: 320px;
  background-color: #ffffff;
  width: 190px;
  height: 55px;
  border-radius: 10px;
  box-shadow: #0000000d 0px 4px 6px -1px, #0000000d 0px 2px 4px -1px;
}

.child:nth-child(2) {
  top: 53px;
  left: 295px;
}

.title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.content p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 0;
}

.image {
  width: 40px;
  height: 40px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.brand h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  max-width: 145px;
}

.brand-list {
  display: inline-flex;
  align-items: center;
  column-gap: 40px;
}

.img-apple {
  width: 87.7px;
  height: 30px;
}

.img-adobe {
  width: 125.54px;
  height: 30px;
}

.img-slack {
  width: 118.56px;
  height: 30px;
}

.img-spotify {
  width: 100.02px;
  height: 30px;
}

.img-google {
  width: 91.91px;
  height: 30px;
}

.better {
  margin-top: 130px;
  text-align: center;
}

.custom:before {
  content: "WORK BETTER";
  font-size: 16px;
  color: #f75c4e;
  display: block;
}

.better>p {
  margin: 0 auto;
  max-width: 390px;
}

.card-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px 73px;
  margin-top: 70px;
}

.card-item {
  text-align: start;
}

.card {
  display: inline-flex;
  align-items: start;
  column-gap: 15px;
}

.image-container {
  position: relative;
}

.absolute-image {
  position: absolute;
  top: 18px;
  left: 18px;
}

.info {
  max-width: 218px;
}

.info p {
  font-size: 14px;
  line-height: 23px;
  margin-bottom: 0;
}

.box-productivity {
  display: inline-flex;
  align-items: center;
  column-gap: 70px;
  margin-top: 130px;
}

.boost {
  width: 450px;
  border-radius: 15px;
}

.play {
  position: absolute;
  top: 123px;
  left: 183px;
  width: 55px;
}

.Productivity {
  max-width: 450px;
}

.Productivity .custom:before {
  content: "SAVE MORE TIME";
}

form .btn {
  position: absolute;
  left: 250px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-color: #1f7cff;
}

.link {
  color: #1f7cff;
  text-decoration: underline;
}

/*****************************************Media Query*******************************************************/
@media screen and (max-width: 1173px) {
  .navigation-list {
    column-gap: 24px;
  }

  .hero-section {
    flex-direction: column;
    text-align: center;
    gap: 30px 0;
  }

  .content {
    text-align: start;
  }

  .brand {
    flex-direction: column;
    gap: 30px 0;
  }

  .brand h2 {
    max-width: max-content;
    margin-bottom: 0;
  }

  .box-productivity {
    flex-direction: column;
    width: 100%;
    gap: 50px 0;
  }

  .Productivity {
    text-align: center;
  }

  input {
    width: 100%;
  }

  form .btn {
    left: 267px;
  }
}

@media screen and (max-width: 879px) {
  main {
    margin: 0 10px;
  }

  .navigation-list {
    column-gap: 13px;
  }

  .card-list {
    gap: 60px;
  }

  .info {
    max-width: 204px;
}
}

@media screen and (max-width: 837px) {

  .hero-img,
  .navigation-list {
    display: none;
  }

  .btn {
    padding: 10px 41px;
  }

  .img-apple {
    width: 77.28px;
  }

  .img-adobe {
    width: 110.62px;
    height: 22px;
  }

  .img-slack {
    width: 104.47px;
    height: 23px;
  }

  .img-spotify {
    width: 88.14px;
  }

  .img-google {
    width: 80.99px;
  }

  .card-list {
    display: grid;
    gap: 35px 0;
  }

  .info {
    max-width: max-content;
  }

  .brand-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 40px;
  }

  .play {
    left: 182px;
  }

  form {
    position: inherit;
  }

  input {
    padding: 12px 60px 12px 18px;
  }

  form .btn {
    position: inherit;
    display: block;
    margin-top: 10px;
    width: 100%;

}
}

@media screen and (max-width: 550px) {
  main {
    margin: 0;
  }

  h1 {
    font-size: 26px;
    line-height: 37px;
  }

  h2 {
    font-size: 22px;
  }

  .container {
    margin: 25px 30px 10px 30px;
  }

  .hero-section {
    margin-top: 70px;
  }

  .logo img {
    width: 38px;
    height: 23px;
  }

  .logo {
    font-size: 20px;
  }

  .btn {
    padding: 8px 32px;
  }

  .box {
    max-width: max-content;
    text-align: start;
  }

  .brand-list {
    gap: 24px 20px;
  }

  .img-apple {
    width: 70px;
  }

  .img-adobe {
    width: 90px;
    height: 22px;
  }

  .img-slack {
    width: 90px;
    height: 23px;
  }

  .img-spotify {
    width: 84px;
  }

  .img-google {
    width: 80.99px;
  }

  .better {
    margin-top: 100px;
  }

  .box-productivity {
    margin-top: 80px;
  }

    .boost {
    width: 319px;
  }

  .play {
    top: 90px;
    left: 128px;
    width: 40px;
  }
}
/*****************************************Media Query*******************************************************/